*{
    margin: 0;
    padding: 0;
}

body{
    background:#2e2c2c;
}
.wrapper,.box{
    position: relative;
    width: 800px;
    height: 520px;
    background: #fff;
    overflow: hidden;
}
.wrapper{
    margin: 100px auto;
}
.box ul{
    list-style: none;
}
.btn-left, .btn-right, .box-dotted{
    position: absolute;
    cursor: pointer;
}
.btn-left, .btn-right{
    display: none;
    top: 50%;
    transform: translate(0,-50%);
    width: 40px;
    height: 40px;
    background: #2e2c2c;
    opacity: .8;
}
.btn-right{
    right: 0;
}
.btn-left::before, .btn-right::before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 30%;
    height: 30%;
    border: 2px solid #fff;
    border-right: none;
    border-top: none;
    transform: rotateZ(45deg);
}
.btn-right::before{
    transform: rotateZ(-135deg)
}
.box-dotted{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 20px;
   text-align: center;
}
.box-dotted li{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 5px;
    border-radius: 50%;
    background: #fff;
}
.box-ul {
    position: absolute;
    height: 100%;
    width: 500%; /* 需要动态计算 */
}
.box-ul li{
    float: left;
    width: 800px; /* 需要动态计算 */
    height: 100%;
}
.box-ul li img{
    width: inherit;
    height: inherit;
}


.active{
    background: #ff1302 !important;
}

.box:hover span{
    display: block;
}
